@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>Kalkulator Wieku</h2>
            <form action="ResultBirth" method="post">
            <div class="mb-3">
                <label class="form-label" for="x">Imie</label>
                <input class="form-control" type="text" name="name"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="y">Data urodzenia</label>
                    <input class="form-control" type="date" name="dateOfBirth" id="dateOfBirth" />
            </div>
                <div class="mb-3">
                    <label class="form-label">Przyszła data</label>
                    <input class="form-control" type="date" name="dateFuture" id="dateFuture" />
                </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Oblicz</button>
            </div>
        </form>
    </div>
</div>
</div>
