@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Witaj @Model.name, W roku @Model.dateFuture.Year będziesz miał @Model.age lat </h4>
